@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    margin:0px;
    padding: 0px;
    background: linear-gradient(45deg,#a684e1,#d084e1)repeat;
    font-family: roboto;  
}
.div-content{
    display: flex;
    flex-wrap: wrap;
    margin: 2.5rem;
    justify-content: center;
}
.content-info{
    display: flex;
    flex-basis: 30%;
    background: rgb(219, 89,218);
    position: relative;
    flex-direction: column;
}
.content-form{
    display: flex;
    flex-basis: 50%;
}
.content-form label{
    padding-left: 1.3em;
    padding-top: 1em;
}
.content-form form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 100%;
}
.content-form input{
    width: 50%;
    padding: 15px;
    margin-left: 20px;
    border: none;
    border-radius: 5px; 
    outline: none;
    background:  #e9eaee ;
}
.content-form button{
    width: 55%;
    margin-left: 20px;
    border: none;
    padding: 15px;
    background: rgb(71, 108, 247);
    margin-top: 1em;
    border-radius: 5px;
}
.content-form select{
    width: 55%;
    margin-left: 20px;
    border: none;
    padding: 15px;
    border-radius: 5px;
}
marquee{
    font-weight: bold;
    font-size: 2em;
}
.content-info h3{
    text-align: center;
    font-size: 1.5em;
    padding-left: 1em;
    margin-bottom: -15px;
}
.content-info h1{
    text-align: justify;
    font-size: 4em;
    padding-left: 20px;
    color:  #c3020d ;
}
span{
    margin-left: 7rem;
    font-size: 12px;
}

img{
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    transform: translate(20%,5%);
}
